@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 230 56% 95%;
    --foreground: 231 15% 18%;
    --card: 0 0% 100%;
    --card-foreground: 231 15% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 15% 18%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 230 30% 90%;
    --secondary-foreground: 231 15% 18%;
    --muted: 230 30% 90%;
    --muted-foreground: 231 10% 40%;
    --accent: 261 40% 64%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 20% 88%;
    --input: 230 20% 88%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 261 40% 64%;
    --chart-3: 231 48% 68%;
    --chart-4: 261 40% 84%;
    --chart-5: 230 30% 70%;
    --radius: 0.5rem;
    
    --sidebar-background: 231 48% 48%;
    --sidebar-foreground: 230 80% 96%;
    --sidebar-primary: 230 80% 96%;
    --sidebar-primary-foreground: 231 48% 48%;
    --sidebar-accent: 231 48% 40%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 231 48% 40%;
    --sidebar-ring: 230 80% 96%;
  }
  .dark {
    --background: 230 10% 10%;
    --foreground: 230 30% 90%;
    --card: 230 10% 15%;
    --card-foreground: 230 30% 90%;
    --popover: 230 10% 10%;
    --popover-foreground: 230 30% 90%;
    --primary: 230 60% 80%;
    --primary-foreground: 231 48% 28%;
    --secondary: 230 10% 25%;
    --secondary-foreground: 230 30% 90%;
    --muted: 230 10% 25%;
    --muted-foreground: 230 20% 60%;
    --accent: 261 50% 75%;
    --accent-foreground: 261 40% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 10% 25%;
    --input: 230 10% 25%;
    --ring: 230 60% 80%;
    --chart-1: 231 50% 70%;
    --chart-2: 261 50% 80%;
    --chart-3: 231 50% 50%;
    --chart-4: 261 50% 60%;
    --chart-5: 230 20% 65%;

    --sidebar-background: 230 10% 15%;
    --sidebar-foreground: 230 30% 90%;
    --sidebar-primary: 230 60% 80%;
    --sidebar-primary-foreground: 230 10% 15%;
    --sidebar-accent: 230 10% 30%;
    --sidebar-accent-foreground: 230 60% 90%;
    --sidebar-border: 230 10% 30%;
    --sidebar-ring: 230 60% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
